.footer {
  text-align : center;
}
.dark-background {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.light-background {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
